
<%# need list of Head/branch
for each commit see if it has a HEAD if so, put branch name else none

 %>

<% branches = @full_list[0..(@full_list.length-3)] %>
<% new_stuff = {}%>
<% branches.each do |branch| %>
 <% new_stuff[branch[:head]] = new_stuff.fetch(branch[:head], [] ) %>
 <% new_stuff[branch[:head]].push branch[:branch] %>
 <%# { branch[:head] => branch[:branch] }%>
 <%# branch[:head] + " " + branch[:branch] %>
<% end %>
<%  %>
<% @full_list.last.reverse.each do |commit| %>
  <% line = commit %>
  <% if new_stuff.keys.include?(commit) %>
    <% line += " (" + new_stuff[commit].join(", ") + ")"%>
  <% end %>
  <li>
    <%= line %>
  </li>

<% end %>

<hr>
<hr>
<hr>
